.dropdown{
    font-family: 'Roboto', sans-serif;
    position:relative;
    width:80%;
}
.dropdown:hover > .dropdown__options{
    display:block;
}

.dropdown__selected{
    border:solid 1px #eee;
    font-size:14px;
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown__options{
    display:none;
    position: absolute;
    background-color: grey;
    width:100%;
    list-style: none;
    border:solid 1px #eee;
    padding:5px 0px;
    height: 200px;
    overflow-y: scroll;
    z-index: 3;
}

.dropdown__option{
    display:flex;
    align-items: center;
    padding:6px 10px;
    cursor:pointer;
}

.dropdown__option:hover{
    background-color: #eee;
}

.dropdown__option-checkbox{
    margin-right:6px;
}
.selected-item {
    border: solid black 2px;
    color: black;
    background: none;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}